{% extends 'base.html.twig' %}

  {% block meta %}{% include 'admin/_partials/meta.html.twig' %}{% endblock %}

  {% block title %}Sign up{% endblock %}

  {% block stylesheets %}{{ encore_entry_link_tags('admin') }}{% endblock %}

{% block body %}
  {% for flash_error in app.flashes('verify_email_error') %}
      <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
  {% endfor %}

  <div class="bg-soft">
    {% include 'security/sign-up/partials/form.html.twig' %}
  </div>

  {% block javascripts %}{{ encore_entry_script_tags('admin') }}{% endblock %}
{% endblock %}
