<div class="d-flex justify-content-center align-items-center mt-4">
    <span class="font-weight-normal">
        Not registered?
        <a href="{{ path('app_register') }}" class="font-weight-bold">Create account</a>
    </span>
</div>
