
<a class="ps-cart__toggle" href="/cart" target="_blank"><span><i>0</i></span><i class="ps-icon-shopping-cart"></i></a>

<div class="ps-cart__listing">
  <div class="ps-cart__content">
      <div class="ps-cart-item">
      <div class="ps-cart-item__thumbnail"><a href="product-detail.html"></a><img src="images/cart-preview/1.jpg" alt=""></div>
      <div class="ps-cart-item__content">
        <a class="ps-cart-item__title" href="/cart" target="_blank">
          <span>Only logged users can access the cart.</span>
        </a>
      </div>
    </div>
  </div>
  <div class="ps-cart__footer"><a class="ps-btn" href="/cart" target="_blank">Sign in<i class="ps-icon-arrow-left"></i></a></div>
</div>
