
<div class="ps-cart" id="cart-listing" data-cart=''>

  <a class="ps-cart__toggle" href="{{ path('cart') }}" target="_blank"><span><i>
  0</i></span><i class="ps-icon-shopping-cart"></i></a>
  <div class="ps-cart__listing" >
    <div class="ps-cart__content">
    <div class="ps-cart-item"></a>
      <div class="ps-cart-item__thumbnail">

        <img
            src="{{asset('build/images/store/shoe-detail/1.jpg') }}"
            alt="(cart preview)">

      </div>
      <div class="ps-cart-item__content">
        <a class="ps-cart-item__title"  href="#">Empty cart</a>
        <p><span>Quantity: <i>0 pcs</i></span>
           <br>
          <span>Total:<i>Rs 0.00</i></span></p>
      </div>
    </div>
    </div>
    <div class="ps-cart__total">
      <p>Number of items:<span>0 pcs</span></p>
      <p>Total:<span>Rs 0.00</span></p>
    </div>

    <div class="ps-cart__footer"><a class="ps-btn ps-btn-disabled" href="#" target="_self">Check out<i class="ps-icon-arrow-left"></i></a></div>
  </div>

</div>
