
<svg class="svg-light" id="pause-icon" width="30" height="30" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 137.145 137.145" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 137.145 137.145"><path d="M41.143,96.001h20.572V41.143H41.143V96.001z M109.716,0H27.429C12.28,0,0,12.281,0,27.429v82.287    c0,15.149,12.28,27.429,27.429,27.429h82.286c15.148,0,27.429-12.28,27.429-27.429V27.429C137.144,12.281,124.864,0,109.716,0z     M123.43,102.858c0,11.361-9.21,20.572-20.571,20.572H34.286c-11.361,0-20.571-9.211-20.571-20.572V34.286    c0-11.361,9.21-20.572,20.571-20.572h68.572c11.361,0,20.571,9.211,20.571,20.572V102.858z M75.429,96.001h20.572V41.143H75.429 V96.001z"/><title>Pause redirection</title>
</svg>
