{% extends 'base.html.twig' %}

  {% block meta %}{% include 'admin/_partials/meta.html.twig' %}{% endblock %}
  {% block title %}Settings | Admin{% endblock %}

  {% block stylesheets %}{{ encore_entry_link_tags('admin') }}{% endblock %}

{% block body %}

  <div class="bg-{{ app.user.theme == 'light' ? 'soft' : 'dark' }}">

  <!-- top navigation -->
  {% include 'admin/_partials/navbar.html.twig' %}
    <div class="container-fluid">
       <div class="row">
          <div class="col-12">

            <!-- Left sidebar  -->
            {% include 'admin/_partials/left-sidebar.html.twig' %}

            <!-- Main content  -->
            {% include 'admin/9_settings/partials/_form.html.twig' %}

          </div>
       </div>
    </div>
  </div>
  {% block javascripts %}{{ encore_entry_script_tags('admin') }}{% endblock %}
{% endblock %}
